<!DOCTYPE html>
<html>
<head>
  <title>Floral Department</title>
</head>
<body>
  <h1>
    <center>
      Floral Department
    </center>
  </h1>
  <h2><center>
    <a href=/welcome><img src="http://4.bp.blogspot.com/-zpEHnnhl64g/UFrbSRLWxXI/AAAAAAAAAdk/1ZvmkOXN5z0/s1600/VintageFlowerBorder.png" width="600" height="210" /></a>
  </center></h2>
  <h2><center>Please select which product you would like to update.</center></h2>
  <h3><ul style="list-style-type:none"><center> 
  <form action="/update_product">
    <table>
      <tr>
        <td>Product</td>
        <td>Price</td>
        <td>Quantity</td>
        <td>Category id</td>
        <td>Location id</td>
      </tr>
      <% FloralDepartmentProduct.all.each do |product| %>
        <tr>
          <td><input type="radio" name="id" value="<%= product.id %>"><%= product.product%></td>
          <td><%= product.cost%></td>
          <td><%= product.quantity%></td>
          <td><%= product.category_id%></td>
          <td><%= product.location_id%></td>
        </tr>
      <% end %>
    </table>
    <br>
    <p><center><input type="submit"></center></p>
  </form>
  </center></ul></h3>
</body>
</html>


